apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observers

resources:
  - vmagent-scrape-configmap.yaml

helmCharts:
  - name: victoria-metrics-single
    repo: https://victoriametrics.github.io/helm-charts
    version: 0.27.0
    releaseName: vmsingle
    namespace: observers
    valuesInline:
      server:
        fullnameOverride: vmsingle
        retentionPeriod: "14d"
        persistentVolume:
          enabled: true
          size: 10Gi
  - name: victoria-metrics-agent
    repo: https://victoriametrics.github.io/helm-charts
    version: 0.28.0
    releaseName: vmagent
    namespace: observers
    valuesInline:
      fullnameOverride: vmagent
      service:
        enabled: true
      configMap: vmagent-scrape
      remoteWrite:
        - url: http://vmsingle.observers.svc.cluster.local:8428/api/v1/write
  - name: grafana
    repo: https://grafana.github.io/helm-charts
    version: 10.4.0
    releaseName: grafana
    namespace: observers
    valuesInline:
      fullnameOverride: grafana
      adminPassword: "admin"
      datasources:
        datasources.yaml:
          apiVersion: 1
          datasources:
            - name: VictoriaMetrics
              type: prometheus
              url: http://vmsingle.observers.svc.cluster.local:8428
              access: proxy
              isDefault: true
            - name: Loki
              type: loki
              url: http://loki.observers.svc.cluster.local:3100
              access: proxy
  - name: prometheus-blackbox-exporter
    repo: https://prometheus-community.github.io/helm-charts
    version: 8.1.0
    releaseName: blackbox-exporter
    namespace: observers
    valuesInline:
      fullnameOverride: blackbox-exporter
      serviceMonitor:
        enabled: false
  - name: loki
    repo: https://grafana.github.io/helm-charts
    version: 5.39.0
    releaseName: loki
    namespace: observers
    valuesInline:
      loki:
        auth_enabled: false
  - name: promtail
    repo: https://grafana.github.io/helm-charts
    version: 6.15.3
    releaseName: promtail
    namespace: observers
    valuesInline:
      config:
        clients:
          - url: http://loki.observers.svc.cluster.local:3100/loki/api/v1/push
