apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observers

resources:
  - ../../base
  - namespace.yaml

# Note: Probe resources moved to apps/observers-probes/overlays/prod

